:host ::ng-deep {
  .p-paginator {
    justify-content: flex-end;
  }
}

.table {
  position: relative;
  min-height: 50vh;

  &__actions {
    background-color: var(--surface-a);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
}
